.project
.pydevproject
.settings/org.eclipse.core.resources.prefs
*/__pycache__
*.pyc
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/pyadmin.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.env
.idea/
.history/
pyadmin/public/uploads/

# ant ignore ------

node_modules
.DS_Store
dist
.npmrc
.cache

test/upload-server/static

.local
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/src/api/sys/user_20210610150327.ts
